/* Learning.css */

.learning {
    height: 50vh; /* Full vertical height */
    width: 100%;   /* Full horizontal width */
    display: flex;
    flex-direction: row; /* Stack items vertically */
    justify-content: space-between;
    font-family: 'Prompt', sans-serif; /* Use the Prompt font */
    color: rgb(255, 255, 255); /* White text color */
    padding: 20px;
}

.learning-header {
    width: 100%;
    margin-bottom: 20px;
}

.learning-pic {
    display: flex;
    width: 100%;             /* Full width of the parent */
    margin-top: 20px;
}

.images {
    background-color: white; /* White background */
    height: 20vh;            /* Set height */
    width: 80%;              /* Set width */
    border-radius: 10px;     /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}



.secondary {
    font-size: 0.9rem; /* Smaller secondary text */
    color: #ddd;       /* Light gray for secondary text */
}

/* Optional: For responsive design */
@media (max-width: 768px) {
    .images {
        width: 80%; /* Reduce width for smaller screens */
    }
}

.course-sec{
    background-color: rgb(56, 56, 56);
    padding: 20px;
    margin-top: 5%;
}
.wrapper{
    position: absolute;
    top: 6%;
    left: 8%;
    transform: translate(-50%, -50%);
  }
  
  a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  a span{
    position: relative;
    z-index: 2;
  }
  
  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    color: black;
    width: 0;
    height: 100%;
    background: #fff9fb;
    transition: all .35s;
  }
  
  a:hover{
    color: #000000;
  }
  
  a:hover:after{
    width: 100%;
  }
  .images img{
    width: 100%;
  }
  .course-data{

  }
  h5{
    font-size: 2rem;
  }
  .course-episode{
    color: white;
  }