body{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  /* ให้เลื่อนได้ */
  }
  .content{
      width: 100%;
      height: 100vh;
      background-color: white;
      text-align: center;
      line-height: 80vh;
      display: block;
      font-size: 60px;
  }
  .scroll{
      width: 100%;
      height: 100vh;
      background-color: rgb(255, 202, 255);
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .block{
      height: 200px;
      width: 300px;
      margin: 50px;
      border: 1px solid black;
  }
  .block:nth-child(1){
      background-color: blue;
  }
  .block:nth-child(2){
      background-color: aquamarine;
  }
  .block:nth-child(3){
      background-color: chocolate;
  }
  .block:nth-child(4){
      background-color: cornflowerblue;
  }
  .block:nth-child(5){
      background-color: red;
  }
  @keyframes animator {
      from{
          
          opacity: 0;
          
      }
      to{
          opacity: 1;
          clip-path: inset(0 0 0 0 );
      }
  }
  .block{
      animation: animator linear;
      animation-timeline: view();
      animation-range: entry 0% cover 40%;
      height: 200px;
  }
  .content{
      width: 100%;
      height: 100vh;
  }